body, html {
  height: 100%;
}

.content {
  width: 70%;
  margin: auto;
  padding: 5%;
}
.content p {
  font-size: 28px;
  color: #ffffff;
  line-height: 2em;
}
.slideshow{
  text-align: center;
  margin:auto;
  width: 80%;
  height:80%;
}
.imgSlide {
  width: 100%;
  height:100%;
}
.slide-btn {
  height:5%;
  cursor:pointer;
  border: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
#slide-back {
  left:-47%;
  bottom:50%;
}
#slide-fwd {
  left:47%;
  bottom:50%;
}

.img_gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em;
  column-gap: 0;
}

.imgThumbnail {
  width: 80%;
  height: auto;
}

.imgSingle {
  display: block;
  margin: auto;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit]{
  color:white;
  padding: 12px 20px;
  background-color: #687e82;
}

.blog-post {
  margin:auto;
  width: 50%;
}

.blog-post h1 {
  font-size: 28px;
  color: #ffffff;
  line-height: 2em;
  text-align: center;
}
.blog-post h2 {
  font-size: 18px;
  color: grey;
  margin: 10px;
  text-align: center;
}
.blog-post h3 {
  font-size: 10px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 35px;
}
.blog-post img {
  padding: 5px;
}
