body, html {
  height: 100%;
  background-color: #000000;
}

.hero-image {
  height: 80%;

  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cuilinsHeader.jpg");
  background-size: 100%;
}

.hero-logo {
  background: url("../images/cuillinsLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left:0%;
  top:10%;
  background-size: contain;
  width: 100%;
  height: 80%;
}

.hero-heading {
  position: relative;
  margin:auto;
  text-align: center;
  font-size: 40px;
  padding: 2%;
  color: #ffffff;
}

.button-wrapper {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 3%;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px  80px;
  width:60%;
  padding: 10px;
  margin: auto;
}

.button {
  font-size: 40px;
  width:100%;
  color: white;
  text-align: right;
  vertical-align: middle;
  border:1px solid white;
  display: inline-block;
  background-color: #687e82;
}

.button:hover {
  background-color: #aa9b80;
}

.button a {
  width: 100%;
  margin-right: 5px;
  text-decoration: none;
  color:inherit;
  display:block;
}

.button img {
  filter: brightness(0) invert(1);
  float:left;
  width: 60px;
  padding: 0;
  margin: 3px;
}

.footer {
  margin:auto;
  width: 60%;
  font-size: 20px;
}

.footer p{
  color: #ffffff;
}

.footer span {
  color: #e0d2b8;
}

.footer-buttons{
  width: 100%;
  text-align: center;
}

.fa{
  border-radius: 10px;
  padding: 20px;
  font-size:30px;
  width:20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  background: #aa9b80;
  color:white;
}

.footer-buttons:hover a{
  background: rgba(255, 255, 255, 0.2);
}
.footer-buttons a:hover {
  background: rgba(255,2550, 255, 0.8);
}
